<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="person" class="com.nju.bean.Person">
        <property name="name" value="kevin"/>
        <property name="car" ref="car"/>
    </bean>

    <bean id="car" class="com.nju.bean.Car">
        <property name="brand" value="nio"/>
    </bean>
</beans>